{% from 'form_helper.html' import displayField %}

{% extends "prelogin.html" %}

{% block title %} Login {% endblock %}
{% block content %}
     <h3>Log in</h3>
     <p>To start ChatApplication enter your login and password.</p>

     <form action="{{ url_for('login') }}" method="POST">

        {{ displayField(form.username, 'Username',  autocomplete='off', autofocus=true) }}
        {{ displayField(form.password, 'Password') }}
        <div>
            {{ form.submit_button }}
        </div>
        {{ form.csrf_token }}
    </form>
{% endblock %}