
.my-username {
    font-weight: bold;
    font-size: 1.1em;
    color: #FF6B13;
}

.timestamp {
    color: #656d78;
    font-size:0.7em;
}

.system-msg {
    margin-right:7em;
    margin-left: 1em;
    padding: 0.5em 0.5em 0.5em 1em;
    color: #656d78;
    font-size:0.9em;
}
